.all-blog-content{
    overflow-x: hidden;
}
.blog-image img{
    border-radius: 5px;
}
.blog-content h5{
    font-family: "Rubik", sans-serif;
    color: rgb(9, 192, 210);
}
.blog-content h2{
    font-family: "Rubik", sans-serif;
}
.blog-content p{
    font-size: 16px;
    text-align: justify;
}
.blog-info-link li{
    list-style: none;
    color: #999;
    cursor: pointer;
}
.blog-info-link li:hover {
    color: rgb(9, 192, 210);
}
.about-category{
    font-family: "Rubik", sans-serif;
}
.about-category ul{
    margin-left: -30px;
}
.about-category ul>li{
    margin-bottom: 5px;
    list-style: none;
    font-size: 20px;
    color: rgb(112, 107, 107);
    transition: .6s;
}
.about-category ul>li:hover{
    color: rgb(9, 192, 210);
}